<div class="container p-2 rounded" style="background-color:white;margin-top:10px;margin-bottom:10px;border:2px solid;">
  <div class="row text-center">
    <div class="col my-auto">
      <div>Developed by: Gaurav Kumar Singh</div>
    </div>
    <div class="col-auto my-auto">
      <img class="rounded-circle" src="images/dev.jpg" height=50 width=50>
    </div>
    <div class="col my-auto">
      <div><a href="https://www.linkedin.com/in/rajgaurav99/" target="_blank">Linkedin: rajgaurav99</a></div>
    </div>
  </div>
</div>
